<%- include('partials/header.ejs', { user }) %> 

<h2 class="text-center">Home</h2>


<div class="card text mx-auto text-center" style="width: 25rem; ">
    <img src="<%=data[0].strDrinkThumb%>" class="card-img-top text" alt="<%=data[0].strDrink%>">
    <div class="card-body">
      <h5 class="card-title"><%=data[0].strDrink%></h5>
      <p class="card-text">Glass Type: <%=data[0].strGlass%></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><%=data[0].strInstructions%></li>
      <li class="list-group-item">ingredients+ portions</li>
    </ul>
    <div class="card-body bg-warning">
      <a href="#" class="card-link">Favorite</a>
      <a href="#" class="card-link">Add Comment</a>
    </div>
</div>


<%- include('partials/footer.ejs') %>