<%- include('partials/header.ejs', { user }) %> 


<div class="bg-image" style="background-image: url('/public/background.jpeg');">
  <h2 class="text-center bg-dark text-light p-3">Home</h2>
  <div class="container vh-min-100 mb-2">
    <div class="card text mx-auto text-center" style="width: 25rem;">
        <img src="<%=data[0].strDrinkThumb%>" class="card-img-top text" alt="<%=data[0].strDrink%>">
        <div class="card-body bg-warning">
          <h3 class="card-text"><%=data[0].strDrink%></h3>
          <p class="card-text">Glass Type: <%=data[0].strGlass%></p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item text-warning bg-dark">Instructions</li>
          <li class="list-group-item"><%=data[0].strInstructions%></li>
          <li class="list-group-item text-warning bg-dark">Ingredients</li>
          <% data.forEach((drink) => { %>
            <% for (let i = 1; i <= 15; i++) { %>
              <% if (drink[`strIngredient${i}`] && drink[`strMeasure${i}`]) { %>
                <li class="list-group-item"><%= drink[`strMeasure${i}`] %> of <%= drink[`strIngredient${i}`] %></li>
              <% } %>
            <% } %>
          <% }) %>

        </ul>
        <div class="card-body bg-warning">
          <form method="POST" action="/favorites">
            <input hidden type="text" name="name" value="<%= data[0].strDrink %>">
            <input hidden type="text" name="glassType" value="<%= data[0].strGlass %>">
            <input hidden type="text" name="instructions" value="<%= data[0].strInstructions %>">
            <input hidden type="text" name="image" value="<%=data[0].strDrinkThumb%>">
            <button class="btn btn-outline-dark" type="submit">Favorite</button>
          </form>
        </div>
    </div>
  </div>
</div>

<%- include('partials/footer.ejs', { user }) %> 



