<%- include('../partials/header', { user }) %>

<div class="container">
    <h1 class="text-center">My Favorites</h1>
  
    <% favDrinks.forEach(function(drink) { %>
      <div class="well">
        <h2><%= drink.name %></h2>
        <p><%= drink.glassType %></p>
        <p><%= drink.instructions %></p>
        
        <form action="/users/favorites/<%=drink.id%>/comment" method="POST">
          <div class="form-group">
            
            <label for="userName">User Name:</label>
        
            <input id="userName" type="text" name="userName"  placeholder="name"/>
        
            <label for="comment">Comment:</label>
        
            <input id="comment" type="text" name="comment"  placeholder="your comment here"/>
        
            <button class="btn btn-warning" type="submit">Submit</button>
          </div>

        <%drink.comments.forEach(function(c){%>
          <p>User: <%=c.userName%> Comment: <%=c.comment%></p>
        <%})%>

        <button class="btn btn-warning" type="submit">Delete</button>
        <form method="POST" action="/users/favorites/<%= drink.id %>/?_method=DELETE">
        </form>

      </div>
    <% }); %>


  </div>