<%- include('../partials/header', { user }) %>

<h2 class="text-center bg-dark text-light p-3">My Favorites</h2>

<div class="d-flex flex-wrap justify-content-around mb-2" >
    <% favDrinks.forEach(function(drink) { %>
      <div class="card" style="width: 18rem;">
        <img src="<%=drink.image%>" class="card-img" alt="<%=drink.name%>">
        <div class="card-img-overlay d-flex flex-column justify-content-between text-center">
          <form method="GET" action="/users/favorites/<%= drink.name %>">
            <input hidden type="text" name="name" value="<%= drink.name %>">
            <button class="btn btn-outline-warning text-center " type="submit"><%= drink.name %></button>
          </form>
          <form method="POST" action="/users/favorites/<%= drink.id %>/?_method=DELETE">
              <button class="btn btn-outline-warning text-center" style="margin: 5px;" type="submit">Delete</button>
          </form>
        </div>
      </div>
    <% }); %>
</div>

<%- include('../partials/footer', { user }) %>