<%- include('../partials/header', { user }) %>

<h1 class="text-center">My Favorites</h1>

<div class="vh-min-100 d-flex flex-wrap justify-content-around">
    <% favDrinks.forEach(function(drink) { %>
      <div class="card" style="width: 18rem;">
        <img src="<%=drink.image%>" class="card-img-top" alt="<%=drink.name%>">
        <div class="card-body text-center">
          <form method="GET" action="/users/favorites/<%= drink.name %>">
            <input hidden type="text" name="name" value="<%= drink.name %>">
            <button class="btn btn-warning" type="submit"><%= drink.name %></button>
          </form>
        </div>
        <form class="d-flex justify-content-around" method="POST" action="/users/favorites/<%= drink.id %>/?_method=DELETE">
            <button class="btn btn-warning" style="margin: 5px;" type="submit">Delete</button>
        </form>
      </div>
    <% }); %>
</div>

<%- include('../partials/footer', { user }) %>